*{
    box-sizing: border-box;
}

body{
    background-color: rgba(2, 145, 216, 0.75);
    color: #485e74;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
}

.container{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

ul{
    list-style: none;
    padding: 0;
}

.event{
    text-align: center;
}

.event i img{
    width: 50px;
    height: 50px;   
    margin-right: 5px;
    margin-bottom: -12px;
}
.event span{
    color: #fff;
}

.wrapper{
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > *{
    padding: 1em;
}

.speaker-info{
    background-color: #039be5;
    color: #fff;
}

.speaker-info h3, .speaker-info ul{
    text-align: center;
    margin: 0 0 1rem o;
}

.speaker-info h3{
    color: #fff;
}

.speaker-info h3 span{
    color: #485e74;
}

.speaker-info h3 i img{
    width: 40px;
    height: 40px;
    margin-bottom: -10px;
}

.success{
    display: none;
    background: #059b2d;
    width: 100%;
    padding: 10px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.feedback{
    background: #f9feff;
}

/* Form Style*/

.feedback form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.feedback form p{
    margin: 0;
}

.feedback form .full{
    grid-column: 1 / 3;
}

.feedback form input, .feedback form textarea{
    width: 100%;
    padding: 1em;
    border: 1px solid #92bde7;
}

.feedback form .button{
    background: #ffc107;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
}

.feedback form .button:hover, .feedback form .button:focus{
    background: #039be5; /*#059b2d - success, #e61604 - error*/
    transition: background-color 1s ease-out;
} 

/* Large Screens */
@media(min-width:700px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper > *{
        padding: 2em;
    }

    .speaker-info h3, .speaker-info ul, .event{
        text-align: left;
    }
}
